<div class="container">
  <h1 class="hello">Hello, <%= current_user.email_or_first_name %> this is your booking summary</h1>
  <div class="row">   
    <div class="col-md-12">
      <div class="dashboard-card">
        <% current_user.bookings.each do |booking| %>
          <div class="col-md-12">
            <p>Start date: <%= booking.start_date%> End date: <%= booking.end_date %></p>
          </div>  
          <div class="new-name-here">
            <p class="model">Model: <%= booking.spaceship.model %></p>
            <h4 class="model">Ship details :</h4>
            <p class="model">This ship has a capacity of <%= booking.spaceship.capacity %>. Its location is <%= booking.spaceship.location %> The captain of the ship is <%= booking.spaceship.captain_name %>.</p>
          </div>
        <% end %>
        <h2>Total:</h2>
      </div>            
    </div>
  </div>
</div>  

    
<!--    <div class="row">
    <h2>Booked Dates</h2>
      <% current_user.bookings.each do |booking| %>
        <div class="col-md-12">
          <div class="dashboard-card">
           <p>
              Start date: <%= booking.start_date%>
              <br>
              End date: <%= booking.end_date %>
           </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>-->

