
<div>
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
    <div class="searchbar" style="z-index: 0;">
        <form onsubmit="event.preventDefault();" role="search">
        <label for="search">Search for stuff</label>
        <input type="search" placeholder="Search by location" autofocus required />
        <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
      <div class="header">
        <h1 id="header-text">AIR'N'SPACE!</h1>
        <!-- <p><%= link_to 'Check out available spaceships', spaceships_path, class:"btn-xl btn-secondary text-decoration-none" %></p> -->
        <a class="neon-button justify-content-center" href="<%= spaceships_path %>">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Travel to the stars       
        </a>
      </div>
  </div>

  <div class="title_mid">
      <h2>We are opening up the skys for everyone!</h2>    
      <h2> We hope to provide a platform for the average person to experience their dreams.</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      
        <div class="card m-4" style="width: 18rem;">
          <%= image_tag "home001.jpeg", class:"card-img-top", alt:"spaceship_picture", height: "200px" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      
    
      <div class="card m-4" style="width: 18rem;">
        <%= image_tag "home002.jpeg", class:"card-img-top", alt:"spaceship_picture", height: "200px" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
      <div class="card m-4" style="width: 18rem;">
        <%= image_tag "home003.jpeg", class:"card-img-top", alt:"spaceship_picture", height: "200px" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
  </div>
</div>

<div class="footer-home text-center">
  <div class="links">
    <a href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="https://github.com/arturkonopka1994/airnspace"><i class="fab fa-fw fa-github"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-fw fa-instagram"></i></a>
    <p>This website was coded by Artur, Matt, Rida & Francois <i class="fas fa-space-shuttle"></i></p>
  </div>
</div>