
  <!--<div class="row">
    <div class="col text-left">
      <%= link_to 'New', new_spaceship_path, class: "btn btn-success" %>
    </div>
    <div class="col text-right">
      <%= link_to 'Back to Homepage', root_path, class: "btn btn-dark" %>
    </div>
  </div>-->
<div class="container">
  <h1 class="text-center">Current Spaceships for Rent</h1>
  <div class="row">
      <% @spaceships.each do |spaceship| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <%= cl_image_tag spaceship.photo.key ,height: 300, width: 400, crop: :fill %>
            <div class="card-description">
              <h2><%= spaceship.model %></h2>
            </div>
            <%= link_to spaceship.model, spaceship_path(spaceship), class: 'card-link' %>
          </div>
        </div>
        
      <% end %>
  </div>
</div>
