<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
  <div class="container">
    <h1>AIR'N'SPACE!</h1>
    <% if current_page?("/spaceships") %>
      <%= link_to 'Rent your spaceship', new_spaceship_path, class:"btn btn-secondary" %>
    <% else %>
      <%= link_to 'Spaceships', spaceships_path, class:"btn btn-secondary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <h1 class="text-center">Current Spaceships for Rent</h1>
  <div class="row", style="width: 1200px">
      <% @spaceships.each do |spaceship| %>

        <div class="col-md-12 col-lg-4">
        
          <div class="cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spaceship.photo.key, height: 300, width: 400, crop: :fill %>')">
            <div class="card-description" style="width: 90%; height: 90%">
              <h2 class="text-left"><%= spaceship.model.upcase %></h2>
              <p class="card-description-bottom " style="margin: 0"><%= spaceship.currency %><%= spaceship.cost %> per day</p>
              <p class="card-description-bottom-2" style="margin: 0"><%= spaceship.country_name %></p>


            </div>
            <%= link_to spaceship.model, spaceship_path(spaceship), class: 'card-link' %>
          </div>
        </div>
      <% end %>
  </div>
</div>
