<div class="container">
  <h1><%= @spaceship.model %></h1> 
  <div class="col-xs-12 col-sm-4">
    <%= cl_image_tag @spaceship.photo.key ,height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <h2>Spaceship Description</h2>
    <p>
      This ship has a capacity of <%= @spaceship.capacity %>.
      It costs <%= @spaceship.currency %><%= @spaceship.cost %> .
      Its location is <%= @spaceship.country_name %>.
      The captain of the ship is <%= @spaceship.captain_name %>.
    </p>
  </div>

  <h3>Reviews</h3>
  <% if @spaceship.reviews.empty? %>
    <p>Be the first to leave a review</p>
  <% else %>
    <ul class="list-group" style="margin-bottom: 12px;">
      <% @spaceship.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center" style="list-style-type: none;">
          <span class="badge">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Book spaceship', new_spaceship_booking_path(@spaceship), class: "btn btn-success" %>
  
  <%= link_to 'Create New Review', new_spaceship_review_path(@spaceship), class: "btn btn-secondary" %>

  <%= link_to 'Back', spaceships_path, class: "btn btn-dark" %>
</div>




