
<div>
    <div class="container push-footer" style="color: white">

      <div class="container" style=" padding-top: 100px;">
        <h1>Review</h1>

        <%= simple_form_for [@spaceship, Review.new] do |f| %>
          <%= f.input :description %>
          <%= f.input :rating, collection: [ 0, 1, 2, 3, 4, 5] %>
          <%= f.submit class: "btn btn-primary" %>
          <%= link_to 'Back', spaceship_path(@spaceship), class: "btn btn-primary" %>
          <% end %>
          <br>
        
      </div>
    </div>
</div>